.app {
  text-align: center;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appHeader {
  background-color: green;
  height: 8%;
}

.appLink {
  color: #61dafb;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.globalLaout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
